<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>COMMENT</key>
  <string>Template only. Generate ios/config/production/GoogleService-Info.plist locally with FlutterFire CLI.</string>
  <key>PROJECT_ID</key>
  <string>REPLACE_ME</string>
  <key>BUNDLE_ID</key>
  <string>com.elfulk</string>
</dict>
</plist>
